In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
path = '/Users/arshad_221b/Projects/heart attack /archive/heart.csv'

In [3]:
df = pd.read_csv(path)
df.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [4]:
df.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

## Normalize following columns: 
### age, cp, trtbps, chol, thalanchh, exng, oldpeak, slp, caa, thall

In [6]:
colls = ['age', 'cp', 'trtbps', 'chol', 'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall']
min_max_scaler = preprocessing.MinMaxScaler()
for col in colls:
    x_scaled    = min_max_scaler.fit_transform(df[[col]])
    df[col]     = x_scaled   
df = df.drop(['oldpeak', 'caa', 'slp','thall'], axis=1)

In [7]:
df.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,output
0,0.708333,1,1.000000,0.481132,0.244292,1,0,0.603053,0.0,1
1,0.166667,1,0.666667,0.339623,0.283105,0,1,0.885496,0.0,1
2,0.250000,0,0.333333,0.339623,0.178082,0,0,0.770992,0.0,1
3,0.562500,1,0.333333,0.245283,0.251142,0,1,0.816794,0.0,1
4,0.583333,0,0.000000,0.245283,0.520548,0,1,0.702290,1.0,1
5,0.583333,1,0.000000,0.433962,0.150685,0,1,0.587786,0.0,1
6,0.562500,0,0.333333,0.433962,0.383562,0,0,0.625954,0.0,1
7,0.312500,1,0.333333,0.245283,0.312785,0,1,0.778626,0.0,1
8,0.479167,1,0.666667,0.735849,0.166667,1,1,0.694656,0.0,1
9,0.583333,1,0.666667,0.528302,0.095890,0,1,0.786260,0.0,1

## Train test split

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(df.loc[:,'age': 'exng'], df['output'], test_size = 0.2, random_state = 42)

In [10]:
X_train.shape, X_test.shape

((242, 9), (61, 9))

## Model Training

### Linear SVM

In [11]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [12]:
y_pred = svclassifier.predict(X_test)

In [13]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(Y_test,y_pred))
print(classification_report(Y_test,y_pred))

[[23  6]
 [ 6 26]]
              precision    recall  f1-score   support

           0       0.79      0.79      0.79        29
           1       0.81      0.81      0.81        32

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61

SVM with Kernel

In [14]:
svclassifier_rbf = SVC(kernel='rbf')
svclassifier_rbf.fit(X_train, Y_train)

SVC()

In [15]:
y_pred = svclassifier_rbf.predict(X_test)

In [16]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test, y_pred))

[[23  6]
 [ 5 27]]
              precision    recall  f1-score   support

           0       0.82      0.79      0.81        29
           1       0.82      0.84      0.83        32

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [17]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(svclassifier_rbf, open(filename, 'wb'))